<div class="container my-5">
    <h2 class="text-center mb-4">Szolgáltatásaink</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let service of servService.services">
            <div class="card h-100 shadow-sm">
                <ng-container *ngIf="!service.editMode; else editForm">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.name }}</h5>
                        <p class="card-text overflow-auto">{{ service.description }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end gap-2">
                        <button class="btn btn-outline-primary btn-sm" (click)="edit(service)">
                            <i class="bi bi-pencil-square"></i> Update
                        </button>
                        <button class="btn btn-outline-danger btn-sm" (click)="remove(service)">
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </div>

                </ng-container>

                <ng-template #editForm>
                    <div class="card-body">
                        <input type="text" [(ngModel)]="serviceTemp.name" class="form-control mb-2" />
                        <textarea [(ngModel)]="serviceTemp.description" class="form-control mb-2"></textarea>
                    </div>
                    <div class="card-footer d-flex justify-content-end gap-2">
                        <button class="btn btn-success btn-sm" (click)="save(service)">
                            <i class="bi bi-check-circle"></i> Save
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="cancelEdit(service)">
                            <i class="bi bi-x-circle"></i> Cancel
                        </button>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="col">
      <div class="card h-100 shadow-sm d-flex justify-content-center align-items-center" style="cursor: pointer;" (click)="redirect()">
        <div class="card-body d-flex justify-content-center align-items-center">
          <i class="bi bi-plus-lg icon-large"></i>
        </div>
      </div>
    </div>
</div>