<div class="container my-4">
    <h2 class="mb-4">Új szolgáltatás létrehozása</h2>
    <form (ngSubmit)="create()" #serviceForm="ngForm" novalidate>

        <div class="mb-3">
            <label for="name" class="form-label">Szolgáltatás neve</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="service.name" name="name" required
                #name="ngModel" placeholder="Pl. Ablakcsere" />
            <div *ngIf="name.invalid && name.touched" class="text-danger">
                A név nem lehet üres!
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Leírás</label>
            <textarea id="description" class="form-control" [(ngModel)]="service.description" name="description" rows="3"
                required #description="ngModel" placeholder="Pl. A teljes ablak cseréje modern szigeteléssel..."></textarea>
            <div *ngIf="description.invalid && description.touched" class="text-danger">
                A leírás nem lehet üres!
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="serviceForm.invalid">
            Létrehozás
        </button>
    </form>
</div>