<div class="container mt-5">
  <div class="card shadow-lg rounded-4">
    <div class="card-header bg-primary text-white text-center fs-4">
      Új Szolgáltatás Létrehozása
    </div>
    <div class="card-body">
      <form [formGroup]="serviceForm" (ngSubmit)="create()">
        <div class="mb-3">
          <label for="name" class="form-label">Szolgáltatás neve</label>
          <input type="text" id="name" class="form-control" formControlName="name" placeholder="Pl. Ablakcsere">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Leírás</label>
          <textarea id="description" class="form-control" formControlName="description" rows="3" placeholder="Pl. A teljes ablak cseréje modern szigeteléssel..."></textarea>
        </div>

        <div class="text-end">
          <button type="submit" class="btn btn-success">
            <i class="bi bi-save me-2"></i> Mentés
          </button>
        </div>
      </form>
    </div>
  </div>
</div>